In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('housing.csv')

In [4]:
df.head().T

                           0         1         2         3         4
longitude            -122.23   -122.22   -122.24   -122.25   -122.25
latitude               37.88     37.86     37.85     37.85     37.85
housing_median_age      41.0      21.0      52.0      52.0      52.0
total_rooms            880.0    7099.0    1467.0    1274.0    1627.0
total_bedrooms         129.0    1106.0     190.0     235.0     280.0
population             322.0    2401.0     496.0     558.0     565.0
households             126.0    1138.0     177.0     219.0     259.0
median_income         8.3252    8.3014    7.2574    5.6431    3.8462
median_house_value  452600.0  358500.0  352100.0  341300.0  342200.0
ocean_proximity     NEAR BAY  NEAR BAY  NEAR BAY  NEAR BAY  NEAR BAY

In [5]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [8]:
df.fillna(0, inplace=True)

In [9]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [10]:
df['rooms_per_household'] = df['total_rooms'] / df['households']

In [12]:
df['bedrooms_per_room']   = df['total_bedrooms'] / df['total_rooms']

In [13]:
df['population_per_household']= df.population / df.households

## Question 1 
What is the most frequent observation (mode) for the column</br> ocean_proximity?

In [17]:
df['ocean_proximity'].value_counts().sort_values()

ISLAND           5
NEAR BAY      2290
NEAR OCEAN    2658
INLAND        6551
<1H OCEAN     9136
Name: ocean_proximity, dtype: int64

In [18]:
# ans = <1H OCEAN

## Question 2
Create the correlation matrix for the numerical features of your train dataset.</br> 
In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.</br> 
What are the two features that have the biggest correlation in this dataset?</br>

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 20640 non-null  float64
 1   latitude                  20640 non-null  float64
 2   housing_median_age        20640 non-null  float64
 3   total_rooms               20640 non-null  float64
 4   total_bedrooms            20640 non-null  float64
 5   population                20640 non-null  float64
 6   households                20640 non-null  float64
 7   median_income             20640 non-null  float64
 8   median_house_value        20640 non-null  float64
 9   ocean_proximity           20640 non-null  object
 10  rooms_per_household       20640 non-null  float64
 11  bedrooms_per_room         20640 non-null  float64
 12  population_per_household  20640 non-null  float64
dtypes: float64(12), object(1)
memory usage: 2.0+ MB

In [28]:
df.corr()['total_rooms'].sort_values()

housing_median_age         -0.361262
bedrooms_per_room          -0.174583
latitude                   -0.036100
population_per_household   -0.024581
longitude                   0.044568
rooms_per_household         0.133798
median_house_value          0.134153
median_income               0.198050
population                  0.857126
households                  0.918484
total_bedrooms              0.920196
total_rooms                 1.000000
Name: total_rooms, dtype: float64

In [29]:
df.corr()['total_bedrooms'].sort_values()

housing_median_age         -0.317063
latitude                   -0.065318
population_per_household   -0.028019
median_income              -0.007295
rooms_per_household         0.002717
median_house_value          0.049148
longitude                   0.068082
bedrooms_per_room           0.122205
population                  0.866266
total_rooms                 0.920196
households                  0.966507
total_bedrooms              1.000000
Name: total_bedrooms, dtype: float64

In [30]:
df.corr()['population'].sort_values()

housing_median_age         -0.296244
latitude                   -0.108785
rooms_per_household        -0.072213
median_house_value         -0.024650
median_income               0.004834
bedrooms_per_room           0.031397
population_per_household    0.069863
longitude                   0.099773
total_rooms                 0.857126
total_bedrooms              0.866266
households                  0.907222
population                  1.000000
Name: population, dtype: float64

In [31]:
# ans = total_bedrooms and households

In [33]:
average = df['median_house_value'].mean()
average

206855.81690891474

In [42]:
above_average = (df['median_house_value'] > average).astype(int)

In [43]:
df['median_house_value'] = above_average

In [44]:
df.head().T

                                 0         1         2         3         4
longitude                  -122.23   -122.22   -122.24   -122.25   -122.25
latitude                     37.88     37.86     37.85     37.85     37.85
housing_median_age            41.0      21.0      52.0      52.0      52.0
total_rooms                  880.0    7099.0    1467.0    1274.0    1627.0
total_bedrooms               129.0    1106.0     190.0     235.0     280.0
population                   322.0    2401.0     496.0     558.0     565.0
households                   126.0    1138.0     177.0     219.0     259.0
median_income               8.3252    8.3014    7.2574    5.6431    3.8462
median_house_value               1         1         1         1         1
ocean_proximity           NEAR BAY  NEAR BAY  NEAR BAY  NEAR BAY  NEAR BAY
rooms_per_household       6.984127  6.238137  8.288136  5.817352  6.281853
bedrooms_per_room         0.146591  0.155797  0.129516  0.184458  0.172096
population_per_household  2.555556  2.109842   2.80226  2.547945  2.181467

## split the data

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
df_full_train ,df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [47]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [48]:
y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test = df_test.median_house_value.values

In [49]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

## Question 4
Now let's train a logistic regression</br>
Remember that we have one categorical variable ocean_proximity in the data. Include it using one-hot encoding.</br>
Fit the model on the training dataset.</br>
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these</br> parameters:</br>
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)</br>
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.</br>

In [95]:
from sklearn.feature_extraction import DictVectorizer

In [96]:
dv = DictVectorizer(sparse=False)

train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [97]:
X_train.shape

(12384, 16)

In [98]:
df_train.shape

(12384, 12)

In [99]:
from sklearn.linear_model import LogisticRegression

In [100]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

In [101]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [102]:
y_pred = model.predict_proba(X_val)[:, 1]

In [103]:
all_acc = (y_val == (y_pred>0.5)).mean()

In [104]:
all_acc.round(2)

0.84

In [68]:
# ans = 0.84

## Question 5
Let's find the least useful feature using the feature elimination technique.</br>
Train a model with all these features (using the same parameters as in Q4).</br>
Now exclude each feature from this set and train a model without it. Record the accuracy for each model.</br>
For each feature, calculate the difference between the original accuracy and the accuracy without the feature.</br>
Which of following feature has the smallest difference?</br>
total_rooms</br>
total_bedrooms</br>
population</br>
households</br>

In [105]:
elimination_set = ['total_rooms', 'total_bedrooms', 'population', 'households']

In [106]:
col = dv.get_feature_names_out()

In [107]:
data_train = X_train
data_val   = X_val

In [108]:
df_train_X = pd.DataFrame(data=data_train, columns=col)
df_val_X   = pd.DataFrame(data=data_val, columns=col)

In [109]:
df_train_X.head()

,bedrooms_per_room,households,housing_median_age,latitude,longitude,median_income,ocean_proximity=<1H OCEAN,ocean_proximity=INLAND,ocean_proximity=ISLAND,ocean_proximity=NEAR BAY,ocean_proximity=NEAR OCEAN,population,population_per_household,rooms_per_household,total_bedrooms,total_rooms
0,0.259714,374.0,39.0,34.43,-119.67,2.3681,1.0,0.0,0.0,0.0,0.0,1404.0,3.754011,3.922460,381.0,1467.0
1,0.130228,806.0,24.0,33.74,-118.32,10.1357,0.0,0.0,0.0,0.0,1.0,2248.0,2.789082,7.564516,794.0,6097.0
2,0.234624,337.0,41.0,39.13,-121.62,1.6719,0.0,1.0,0.0,0.0,0.0,856.0,2.540059,3.908012,309.0,1317.0
3,0.194158,915.0,9.0,34.24,-118.63,4.8333,1.0,0.0,0.0,0.0,0.0,1884.0,2.059016,5.201093,924.0,4759.0
4,0.139762,395.0,38.0,37.52,-122.30,5.5902,0.0,0.0,0.0,0.0,1.0,994.0,2.516456,7.010127,387.0,2769.0

In [110]:
acc_list = []
for c in elimination_set:
    model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    
    model.fit(df_train_X.drop(c, axis=1), y_train)
    y_pred = model.predict_proba(df_val_X.drop(c, axis=1))[:, 1]
    acc = (y_val == (y_pred>0.5)).mean()
    acc_list.append(acc)

In [121]:
all_acc

0.8362403100775194

In [115]:
acc_dict = dict(zip(elimination_set, acc_list))
acc_dict

{'total_rooms': 0.8369670542635659,
 'total_bedrooms': 0.8357558139534884,
 'population': 0.8263081395348837,
 'households': 0.8330910852713178}

In [117]:
diff_list = []
for acc in acc_list:
    diff = all_acc - acc
    diff_list.append(diff)

In [120]:
diff_list

[-0.0007267441860464574,
 0.0004844961240310086,
 0.009932170542635732,
 0.0031492248062016115]

In [122]:
# ans = total_rooms

## Question 6
For this question, we'll see how to use a linear regression model from Scikit-Learn </br>
We'll need to use the original column 'median_house_value'. Apply the logarithmic transformation to this column.</br>
Fit the Ridge regression model (model = Ridge(alpha=a, solver="sag", random_state=42)) on the training data.</br>
This model has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10]</br>
Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.</br>
If there are multiple options, select the smallest alpha.</br>

In [123]:
from sklearn.linear_model import Ridge

In [126]:
from sklearn.metrics import mean_squared_error

In [124]:
df = pd.read_csv('housing.csv')

In [125]:
df_full_train ,df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test = df_test.median_house_value.values

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [127]:
rmse_list =[]
for alpha in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=alpha, solver="sag", random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    rmse = mean_squared_error(y_val, y_pred)**0.5
    rmse_list.append(rmse)

In [128]:
rmse_list

[106337.77491731168,
 106337.77492055624,
 106337.7749513784,
 106337.77526122272,
 106337.77835479894]

In [ ]:
# ans = 0